/* styles.css */

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: darkslategray;
  }
  
  .keyboard {
    max-width: 800px;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  .key {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  